@model IEnumerable<EmployManamegent.Common.VModels.EmployeeLeaveTypeVM>
    

@{
    ViewData["Title"] = "EmployeeTypeListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
    
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Çalışan İzin Takip Listesi
    </small>
</h3>
								<div class="row">
									<div class="col-xs-12">
										<table id="simple-table" class="table  table-bordered table-hover">
											<thead>
                                            <tr>
													
													
                                                <th>Liste İsmi</th>
                                                <th>Oluşturulma Tarihi</th>
                                                <th>İşlemler</th>
                                            </tr>
                                            <br>
											<div class="col-6 text-left text-white">
												<a class="btn btn-success" asp-action="Create">Tip Ekle</a>
                                            </div>
                                            <br/>
                                            <tbody>
                                            @foreach(var item in  Model)
                                            {
                                            <tr>

                                               
                                                <td>@item.Name</td>
                                                <td>@item.DateCreated</td>
                                                <td>
                                                    <div class="hidden-sm hidden-xs btn-group">

                                                        
                                                        <a class="btn btn-info"asp-controller="EmployeeLeaveTypeConroller" asp-action="Edit" asp-route-id="@item.Id"><i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>
                                                        @* <button class="btn btn-xs btn-danger">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </button>*@
                                                        <button class="btn btn-xs btn-danger" id="btnRemove" data-id="@item.Id">
                                                            <i class="ace-icon fa fa-trash bigger-120"></i>
                                                        </button> 

                                                        <button class="btn btn-xs btn-warning">
                                                            <i class="ace-icon fa fa-flag bigger-120"></i>
                                                        </button>
                                                    </div>

                                                    <div class="hidden-md hidden-lg">
                                                        <div class="inline pos-rel">
                                                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                            </button>

                                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                                <li>
                                                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                        <span class="blue">
                                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                        <span class="green">
                                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                        <span class="red">
                                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                              

                                            </tr>
                                            }
                                            </tbody>
										</table>
									</div><!-- /.span -->
								</div><!-- /.row -->

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnRemove").on("click", function () {
                var id = $("#btnRemove").data("id");
                swal({
                    title: 'Silmek İstediğinize Emin Misiniz?',
                    text: 'Silinen Data Geri Alınamaz!',
                    icon: 'warning',
                    buttons: true,
                    dangerMode: true
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "DELETE",
                            url: "/EmployeeLeaveTypeConroller/Delete/" + id,
                            success: function (data) {
                                if (data.success) {
                                    toastr.success(data.message);
                                   
                                } else {
                                    toastr.error(data.message);
                                }
                                }
                            });
                        }
                    });
                });
        });


    </script>
}